.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.contact p {
  font-family: Mark Pro;
  font-size: 1.7rem;
  width: 60%;
}

.icons {
  display: flex;
  gap: 1.5rem;
}

.icons svg {
  color: #26d47d;
}

.icons svg:hover {
  color: #4fffb0;
}

@media only screen and (max-width: 48em) {
  .contact p {
    font-size: 1.5rem;
    width: 95%;
  }
}

@media only screen and (max-width: 37em) {
  .contact p {
    font-size: 1rem;
    width: 100%;
  }
  .icons {
    gap: 1rem;
  }
  .icons svg {
    width: 30px;
    height: 30px;
  }
}
